*{
  margin: 0;
  padding: 0;
}
.background{
  background-image: url("pictures/westworld-piano8.jpg");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chord-interval{
  display: flex;
  justify-content: center;
  align-items: center;
}
.scale{
  margin: 0;
  display: flex;
  justify-content: center;
}
.chord-input,.interval-input,.scale-input{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 50px;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 100px;
}
.chord-text, .interval-text,.scale-text{
  margin-top: -30px;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.interval-div, .chord-div,.scale-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 280px;
  background-color: rgba(168, 167, 167, 0.6);
}
.interval-result, .chord-result,.scale-result{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-size: 40px;
  width: 300px;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.explane{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 254, 254);
  font-size: 30px;
}
